In [1]:
import numpy as np
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings ('ignore')
import time

In [2]:
driver=webdriver.Chrome(r'D:\chromedriver.exe')
url='http://www.naukri.com/'
driver.get(url)

In [3]:
search_job=driver.find_element(By.CLASS_NAME,'suggestor-input ')
search_job.send_keys('Data analyst')

In [4]:
search_loc=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
search_loc.send_keys('Banglore')

In [5]:
search_bt=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search_bt.click()

In [8]:
job_title=[]
title_tags=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tags[0:10]:
    job_title.append(i.text)

In [11]:

job_loc=[]
loc_tags=driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft fs12 lh16 locWdth']")
for i in loc_tags[0:10]:
    job_loc.append(i.text)

In [13]:
company=[]
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company.append(i.text)

In [18]:
exp=[]
exp_tags=driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft fs12 lh16 expwdth']")
for i in exp_tags[0:10]:
    exp.append(i.text)

In [22]:
df=pd.DataFrame({'Jobs title':job_title,'Location':job_loc,'Company':company,'Experience':exp})

In [20]:
df

,Jobs title,Location,Company,Experience
0,Senior Data Analyst - PLM Data Migration,Bangalore/Bengaluru,CGI,3-6 Yrs
1,Associate Healthcare Research & Data Analyst,Bangalore/Bengaluru,Clarivate,3-4 Yrs
2,Lead Data Analyst,Bangalore/Bengaluru,Mobile Premier League (MPL),4-7 Yrs
3,Contractual Hiring For Top MNC || Business Dat...,Bangalore/Bengaluru,TeamLease,5-8 Yrs
4,Master Data Management Business Analyst,Bangalore/Bengaluru,Accenture,6-8 Yrs
5,Data Analyst,Bangalore/Bengaluru,Elasticsearch,2-5 Yrs
6,Sr. Data Analyst (SAS Data Management),"New Delhi, Bangalore/Bengaluru",NMS Consultant,5-10 Yrs
7,Data Analyst,Bangalore/Bengaluru,IBM,3-4 Yrs
8,Data Analyst,Bangalore/Bengaluru,IBM,3-4 Yrs
9,Lead Data Management Analyst,"Chennai, Bangalore/Bengaluru",Wells Fargo,5-8 Yrs