In [1]:
import numpy as np
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings ('ignore')
import time

In [2]:
driver=webdriver.Chrome(r'D:\chromedriver.exe')

In [3]:
url='http://www.naukri.com/'
driver.get(url)

In [8]:
search_job=driver.find_element(By.CLASS_NAME,'suggestor-input ')
search_job.send_keys('data scientist')

In [9]:
search_bt=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search_bt.click()

In [12]:
loc_filter=driver.find_element(By.XPATH,"//*[@id='root']/div[4]/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/i")
loc_filter.click()

In [15]:
salary_filter=driver.find_element(By.XPATH,"//*[@id='root']/div[4]/div/section[1]/div[2]/div[4]/div[2]/div[2]/label/i")
salary_filter.click()

In [16]:
job_title=[]
title_tags=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tags[0:10]:
    job_title.append(i.text)

In [19]:
job_loc=[]
loc_tags=driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft fs12 lh16 locWdth']")
for i in loc_tags[0:10]:
    job_loc.append(i.text)

In [20]:
company=[]
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company.append(i.text)

In [27]:
exp=[]
exp_tags=driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft fs12 lh16 expwdth']")
for i in exp_tags[0:10]:
    exp.append(i.text)

In [28]:
df=pd.DataFrame({'Job title':job_title,'Location':job_loc,'Company':company,'Exp required':exp})

In [29]:
df

,Job title,Location,Company,Exp required
0,Data Scientist,"Noida, Hyderabad/Secunderabad, Chennai, Bangal...",HCLTech,4-9 Yrs
1,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
2,Urgent hiring For Data Scientist (PHD Must Have),"Temp. WFH - Noida, Pune",NGI Ventures,0-4 Yrs
3,Manager - Data Science - Banking&Financial Ser...,"Delhi / NCR, Bangalore/Bengaluru",Black Turtle,4-8 Yrs
4,Data Scientist / Sr. Data Scientist,Temp. WFH - Noida,Wegarner Solutions,3-8 Yrs
5,Data Scientist,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",torcai digital media,2-7 Yrs
6,Data Scientist,Noida,Meon Technologies,2-5 Yrs
7,Data Scientist,Noida,Alliance Recruitment Agency,3-4 Yrs
8,Data scientist- Python,Gurgaon/Gurugram,TeamPlus Staffing Solution Pvt Ltd,3-6 Yrs
9,Data Scientist,New Delhi,Razor Group GmbH,2-3 Yrs