In [4]:
import numpy as np
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings ('ignore')
import time

In [14]:
driver=webdriver.Chrome(r'D:\chromedriver.exe')

In [15]:
url='http://www.myntra.com/shoes'
driver.get(url)

In [18]:
price_filter=driver.find_element(By.XPATH,'//*[@id="mountRoot"]/div/main/div[3]/div[1]/section/div/div[5]/ul/li[1]/label/div')
price_filter.click()

In [17]:
col_filter=driver.find_element(By.XPATH,'//*[@id="mountRoot"]/div/main/div[3]/div[1]/section/div/div[6]/ul/li[4]/label/div')
col_filter.click()

In [26]:
brand=[]
start=0
end=2
for page in range(start,end):
    brand_tags=driver.find_elements(By.XPATH,"//h3[@class='product-brand']")
    for i in brand_tags:
        brand.append(i.text)
    next_button=driver.find_element(By.XPATH,'//*[@id="desktopSearchResults"]/div[2]/section/div[2]/ul/li[12]/a') 
    next_button.click()
    time.sleep(3)

In [31]:
firstpage=driver.find_element(By.XPATH,'/html/body/div[2]/div/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[3]/a')
firstpage.click()

In [32]:

disc=[]
start=0
end=2
for page in range(start,end):
    disc_tags=driver.find_elements(By.XPATH,"//h4[@class='product-product']")
    for i in disc_tags:
        disc.append(i.text)
    next_button=driver.find_element(By.XPATH,'//*[@id="desktopSearchResults"]/div[2]/section/div[2]/ul/li[12]/a') 
    next_button.click()
    time.sleep(3)

In [33]:
firstpage=driver.find_element(By.XPATH,'/html/body/div[2]/div/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[3]/a')
firstpage.click()

In [34]:

price=[]
start=0
end=2
for page in range(start,end):
    price_tags=driver.find_elements(By.XPATH,"//div[@class='product-price']")
    for i in price_tags:
        price.append(i.text)
    next_button=driver.find_element(By.XPATH,'//*[@id="desktopSearchResults"]/div[2]/section/div[2]/ul/li[12]/a') 
    next_button.click()
    time.sleep(3)

In [35]:
len(price)

100

In [36]:
df=pd.DataFrame({'Brand':brand,'Discription':disc,'Price':price})

In [37]:
df

,Brand,Discription,Price
0,U.S. Polo Assn.,Men Clarkin Sneakers,Rs. 1649Rs. 2999(45% OFF)
1,Roadster,Men Sneakers,Rs. 872Rs. 3795(77% OFF)
2,HIGHLANDER,Men Sneakers,Rs. 975Rs. 1990(51% OFF)
3,Mactree,Men Colourblocked PU Sneakers,Rs. 798Rs. 4200(81% OFF)
4,Red Tape,Women Sneakers,Rs. 1295Rs. 4799(73% OFF)
...,...,...,...
95,Killer,Men Solid Sneakers,Rs. 3499
96,H&M,Textured Sneakers,Rs. 798Rs. 4200(81% OFF)
97,Puma,Women Shuffle Max Sneakers,Rs. 1899Rs. 1999(Rs. 100 OFF)
98,ADIDAS,Men EQ21 Run Running Shoes,Rs. 872Rs. 3795(77% OFF)
99,UNDER ARMOUR,Women Surge 3 Running Shoes,Rs. 1139Rs. 1999(43% OFF)