In [1]:
import numpy as np
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings ('ignore')
import time

In [2]:
driver=webdriver.Chrome(r'D:\chromedriver.exe')

In [3]:
url='https://www.amazon.in'
driver.get(url)

In [7]:
search_lap=driver.find_element(By.ID,'twotabsearchtextbox')
search_lap.send_keys('Laptop')

In [8]:
search_bt=driver.find_element(By.ID,'nav-search-submit-button')
search_bt.click()

In [9]:
i7_filter=driver.find_element(By.XPATH,"//*[@id='p_n_feature_thirteen_browse-bin/12598163031']/span/a/div/label/i")
i7_filter.click()

In [13]:
title=[]
title_tags=driver.find_elements(By.XPATH,"//span[@class='a-size-medium a-color-base a-text-normal']")
for i in title_tags[0:10]:
    title.append(i.text)

In [17]:
price=[]
price_tags=driver.find_elements(By.XPATH,"//span[@class='a-price-whole']")
for i in price_tags[0:10]:
    price.append(i.text)

In [21]:
df=pd.DataFrame({'Title':title,'Price':price,'Rating':3.5})

In [22]:
df

                                               Title     Price  Rating
0  Samsung Galaxy Book2 Pro Intel 12th Gen i7 Evo...  1,03,490     3.5
1  Samsung Galaxy Book2 Pro 360 Intel 12th Gen i7...  1,45,000     3.5
2  (Renewed) HP ProBook 430 G3 6th Gen Intel Core...    25,895     3.5
3  Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 1...    83,990     3.5
4  HP Pavilion x360 11th Gen Intel Core i7 14 inc...    80,490     3.5
5  Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...    81,490     3.5
6  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....    77,990     3.5
7  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...    93,999     3.5
8  Lenovo ThinkBook 15 Intel 12th Gen Core i7 15....    86,490     3.5
9  (Renewed) HP Workstation Zbook Intel Core i7-4...    41,990     3.5